<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" media="screen" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <center><u><h1>Bem vindo</h1></u></center>
    <br>
<center><form action="buscar_pokemon" method="POST">
    <p>Pesquise seu Pokemon:</p>
    <input type="text" placeholder="Pesquisar" name="nome" autocomplete="on">
    <button type="submit" name="buscar_pokemon">Buscar</button>
    <a href="http://127.0.0.1:5000/" class="btn-primary btn-sm">Voltar</a>
    <br><br>
    <p>ID: {{ id }}</p>
    <p>Nome: {{ nome_pokemon }}</p>
    <p>Natureza: {{ tipo }}</p>
    <p>Abilidades: {{ abilidades }}</p>
    <p>Foto:<img src="{{ foto }}"></p>
</form></center>
<hr>
<center><form action="buscar_cep" method="POST">
    <p>Pesquise seu CEP:</p>
    <input type="text" placeholder="Digite seu CEP" name="cep" autocomplete="on">
    <button type="submit">Buscar</button>
    <a href="http://127.0.0.1:5000/" class="btn-primary btn-sm">Voltar</a>
    <br><br>
    <p>Endereço: {{ endereco }}</p>
    <p>Bairro: {{ bairro }}</p>
    <p>Cidade: {{ cidade }}</p>
    <p>Estado: {{ estado }}</p>
</form></center>

<hr>
<center>Para consulta clique aqui:<a href="http://127.0.0.1:5000/consultar_dolar" class="btn-primary btn-sm">Conversor de Moeda</a></center>
<br>
<center>Para saber a previsão do tempo clique aqui:<a href="http://127.0.0.1:5000/previsao_tempo" 
class="btn-primary btn-sm">Previsão do Tempo</a></center>

<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>