<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tempo</title>
    <link rel="stylesheet" media="screen" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css">
</head>
<body>
    <center><h3>Tempo</h3>
    <br>
    <form action="temperatura_atual" method="POST">
        <input type="search" placeholder="Buscar cidade" name="temperatura" autocomplete="on">
        <button type="submit" class="btn-info btn-sm">Buscar</button>
        <a href="http://127.0.0.1:5000/" class="btn-primary btn-sm">Voltar</a>
        <br>
        {{ nome }}
    </form></center>

    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>